@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #fdc323;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto;
}

.grid-card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #0e2431;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.4);
  color: white;
  transition: 300ms;
}

.grid-card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.grid-card img {
  width: 100%;
}

.grid-card h2 {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.grid-card a {
  text-decoration: none;
  color: white;
  margin: 0.5rem;
  font-size: 1.1rem;
  font-weight: lighter;
}
